* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.my-modal {
  width: 90vw; /* Occupy the 90% of the screen width */
  max-width: 90vw;
}

.modal-content {
  width: 90vw; /* Occupy the 90% of the screen width */
  max-width: 90vw;
  height: 90vh;
  max-height: 90vh;
}

@media screen and (max-width: 480px) {
  .modal-content {
    width: 99vw;
    height: 55vh;
    margin-left: 15px;
    padding-right: 15px;
    max-height: 60vh;
  }
}
